# --- Python 核心 ---
__pycache__/
*.py[cod]
*$py.class

# --- 虚拟环境 (最重要) ---
.venv/
venv/
env/
ENV/
bin/
lib/

# --- 依赖与打包 ---
dist/
build/
*.egg-info/
nosetests.xml
pip-log.txt
pip-delete-this-directory.txt

# --- 单元测试与覆盖率 ---
htmlcov/
.tox/
.nosexy/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# --- 环境变量与私密信息 (防止泄露 Key) ---
.env
.venv
*.env
*.pyc

# --- 编辑器与系统文件 ---
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# ----数据-----
data/